#bodyBackground {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('kum07012053_TP_V.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.6;
}

.headerLogo {
    position: absolute;
    left: 10px;
    top: 5px;
    height: 30px;
    width: 100px;
    background: white;
    border-radius: 25px;
    text-align: center;
    color: black;
    font-family: 'Corben', cursive;
}

.headerLogo a{
    text-decoration: none;
}
.headerLogo a:link {color: black;}
.headerLogo a:visited {color: black;}
.headerLogo a:hover {color: gray;}
.headerLogo a:active {color: rgb(51, 51, 51);}

.headerFinder {
    position: absolute;
    right: 150px;
    top: 6px;
}

.contributionBtn {
    position: absolute;
    right: 50px;
    top: 5px;
    height: 30px;
    width: 80px;
    background: white;
    border: solid white 0px;
    border-bottom: solid #555 2px;
}

.contributionBtn:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 40px;
    background: skyblue;
    z-index: 10;
}

.login-modal-wrapper, .signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.titleArea {
    color: black;
    height: 30px;
    width: 40%;
    min-width: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    text-align: center;
    border-radius: 25px;
    border: solid 1px black;
    font-family: 'Corben', cursive;
}



.backForm {
    color: black;
    height: 30px;
    width: 40%;
    min-width: 400px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    text-align: left;
    border: solid 1px black;
    line-height: 30px;
    word-break : break-all;
}

.timeText{
    float: right;
}

.bbsText {
    color: black;
    height: auto;
    width: 40%;
    min-width: 400px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    text-align: left;
    border: solid 1px black;
    line-height: 30px;
    word-break : break-all;
}

.resBbs {
    color: black;
    height: auto;
    width: 40%;
    min-width: 400px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    text-align: left;
    border: solid 1px black;
    line-height: 30px;
    word-break : break-all;
    cursor: pointer;
}

.resCnt {
    float: right;
}

.reText {
    color: black;
    height: 30px;
    width: 40%;
    min-width: 400px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    text-align: center;
    border: solid 1px black;
    line-height: 30px;
}

.pageId {
    color: black;
    height: 30px;
    width: 40%;
    min-width: 400px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    text-align: center;
    border-radius: 25px;
    border: solid 1px black;
    font-family: 'Corben', cursive;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input,textarea {
  width: 320px;
  margin-bottom: 20px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 5px auto;
  cursor: pointer;
}

.btn {
    opacity: 0.7;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}


.fa {
  margin-right: 5px;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.answer {
  display:none;
}
